.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
	padding: 25px 25px 10px 25px;
    margin-bottom: 5px;
}
.grid-view table
{
    background: white;
    border: 1px solid #bbbbbb;
    margin-bottom: 20px;
}

.grid-view table.items
{
    border-collapse: collapse;
	width: 100%;
}
.grid-view table.items th, .grid-view table.items td
{
	font-size: 17px;
    border-top: 1px solid #f1f0f0;
	padding: 4px 10px;
    color: #000000;
    height:30px;
    text-align: center;
}
#currency-grid_c0
{
    color:white;
}
#customer-grid_c0
{
    color:white;
}
#agent-grid_c0
{
    color:white;
}
#delivery-terms-grid_c0
{
    color:white;
}
#payment-terms-grid_c0
{
    color:white;
}
#proforma-invoice-grid_c0
{
    color:white;
}
#units-grid_c0
{
    color:white;
}
#sales-invoice-grid_c0
{
    color:white;
}
.grid-view table.items td a
{
    color:black;
    text-decoration:none;
}
.grid-view table.items th
{
    color: #b02e2e;
    background: #bbbbbb;
    font-weight: normal;
}
.grid-view table.items th a
{
	color: white;
	font-weight: normal;
	text-decoration: none;
    //letter-spacing: 1px;
}
.grid-view table.items th a:hover
{
	color: #616161;
}
.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}
.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}
.grid-view table.items tr
{
	//background: white;
    
}
.grid-view table.items tr.selected
{
	//background: green;
}
.grid-view table.items tr:hover.selected
{
	//background: #CCFF66;
}
.grid-view table.items tbody tr:hover
{
	background: #e6e6e6;
}
.grid-view .link-column img
{
	border: 0;
}
.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}
.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
    font-size: 11px;
}
.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}
.grid-view .empty
{
	font-style: italic;
}
.grid-view table.items .header
{
    text-decoration:none;
    color:white;
}
